body{
	font-family: 'Inter';
}

header{
	padding: 10px 0;
	background: #E5E5E5;
}

.caja{
	width: 100%;
	position: relative;
}

h1{
	size: 120px 48px;
}

main{
	text-align: center;
	background: linear-gradient(#E5E5E5, #0A3871);
}

.ingreso-egreso{
	width: 100%;
	display: inline-block;
	margin: 0 auto;
	padding: 25px 0;
	
}

.textoEntrada{
	width: 40%;
	height: 300px;
	margin: 0 auto;
	border: none;
	border-radius: 32px;
	background: #E5E5E5;
	opacity: 0.75;
	text-align: center;
	font-family: 'Inter';
	font-size: 1.5em;
	line-height: 12em;
	color: #0A3871;
}

.cuadroSalida{
	width: 40%;
	height: 300px;
	margin: 0 auto;
	border: none;
	border-radius: 32px;
	background: #E5E5E5;
	opacity: 0.75;
	text-align: center;
	font-family: 'Inter';
	font-size: 1.5em;
	line-height: 12em;
	color: #0A3871;
}


.botones{
	width: 100%;
	display: inline-block;
	margin: 0 auto;
	padding: 25px 0;
}

.nota{
	text-align: left;
	color: #000000;
	font-size: 0.75em;
	margin: 0 0 0 17.5%;
}

.encriptar{
	width: 30%;
	margin: 0 auto;
	background: #0A3871;
	border: 1.2px solid #E5E5E5;
	border-radius: 24px;
	color: #FFFFFF;
	font-size: 1.5em;
	line-height: 2.5em;
	text-align: center;
	margin: .25em 2em;		
	cursor: pointer;
	transition: 1s all;
}
.encriptar:hover{
	transform: scale(1.2);
}

.desencriptar{
	width: 30%;
	margin: 0 auto;
	background: #D8DFE8;
	border: 1.2px solid #0A3871;
	border-radius: 24px;
	color: #0A3871;
	font-size: 1.5em;
	line-height: 2.5em;
	text-align: center;
	margin: .25em 2em;		
	cursor: pointer;
	transition: 1s all;
}

.desencriptar:hover{
	transform: scale(1.2);
}

.copiarTexto{
	width: 30%;
	margin: 0 auto;
	background: #D8DFE8;
	border: 1.2px solid #0A3871;
	border-radius: 24px;
	color: #0A3871;
	font-size: 1.5em;
	line-height: 2.5em;
	text-align: center;
	margin: .25em 2em;		
	cursor: pointer;
	transition: 1s all;
}

.copiarTexto:hover{
	transform: scale(1.2);
}






footer{
	text-align: center;
	background: #0A3871;
	padding: 1px 0;
}

.copyright{
	color: #FFFFFF;
	font-size: 0.75em;
	margin: 20px;
}


@media screen and (max-width: 480px){
	body{
		min-height: 100vh;
		max-width: 480px;
	}
	
	h1{
		text-align: center;
	}
	
	.ingreso-egreso, .botones{
		display: flex;
	}
	
	.textoEntrada, .cuadroSalida{
		width: 90%;
		height: 200px;
		margin: 10px 0;
		font-size: 1em;
	}

	.nota{
		text-align: center;
		margin: 10px 0;
	}

	.encriptar, .desencriptar, .copiarTexto{
		width: 50%;
		font-size: 1.1em;
		font-weight: bold;
	}

	
}